transformers
datasets
huggingface-hub
watchdog
numpy
pandas
pytest
pytest-mock
demjson3
rdflib
mysql-connector-python
docker
rdflib
sparqlwrapper
elasticsearch==7.13.4
elasticsearch-dsl<8.0.0
black
ruff
pytest-cov